$font-family: 'Lato', sans-serif;
$letter-spacing: 10px;
$transition: 0.2s;
$mintgreen:#82e8b3;
$forestgreen: forestgreen;
$bottomborder: 1px solid $forestgreen ;
$bodycolor:#515151;

body {
    width:100vw;
    font-family: $font-family;
    color:$bodycolor;
}
.top-bar{
    border-bottom: 1px solid forestgreen;

.brand-name{
    font-size:2em;
    padding:20px;
    letter-spacing: $letter-spacing;
    font-weight: 700;
    color:$bodycolor;
}
.nav {
    ul{
        a{
            color:$bodycolor;
            transition: 0.2s;
            &:hover{
                color:forestgreen;
                transition: $transition;
            }
        }
        float:right;
        clear: both;
        i{
            padding: 15px;
            margin-right:10px;
            }
        }
    }
}
.section-one {
    background-color:$mintgreen;
    height:500px;
    width:100%;
    border-bottom: $bottomborder;
}

.section-one-headers {
    color:$bodycolor;
    float:right;
    line-height: 50%;
    padding: 100px;
}
