.nav {
    z-index: 6;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 1%;
    display: block;
    width:100%;
}

.top-bar-item {
    display: inline;
    font-size: 1.6em;
    padding-left: 2%;
    padding-right: 2%;
}

.top-bar-item a:hover {
    text-decoration: none;
}

.brand-item {
    font-size: 1.6em;
    display: inline;
    padding-left: 2%;
    padding-right: 2%;
    color:white;
}

.section-one {
    background-image: url("http://i.imgur.com/AI2HZED.jpg");
    background-position: center;
    height: 100vh;
    background-size: cover;
    width: auto;
    z-index: 4;
    display: block;
    position: relative;
}

.contact-items {
    padding-top: 25%;
}

.social-contact {
    padding: 6%;
}
.social-contact:hover {
    color: deepskyblue;
}

.top-nav-link:visited {
    text-decoration: none;
    color: white;
}

.top-bar {
    background-color:black;
    width:auto;
    padding-right: 30px;
}

.top-bar-social {
    padding: 5px;
    color: white;
}
.top-bar-social:hover{
    color:deepskyblue;
}

.text-right {
    padding-right: 
}

.top-left {
    width:25%;
    position:absolute;
}

.top-right {
    width:75%;
    position:absolute;
}
