body {
    font-family: 'Open Sans', sans-serif;
}

.social-contact {
    padding: 6%;
}

.social-contact:hover {
    color: deepskyblue;
}

.top-bar {
    background-color: black;
    width: 100%;
}

.top-bar-social {
    padding-left: 20px;
    padding-top: 3px;
    color: white;
}

.top-bar-social:hover {
    color: deepskyblue;
}

#brand {
    color: white;
    font-size: 1.6em;
    padding-right: 20px;
}
