//variables
$background: #fff;
$fontfamily: 'Lato', sans-serif;
$socialiconcolor: black;
$socialiconhovercolor: deepskyblue;
$transition: 0.2s;
//end of variables

//mixins
//end of mixins

//css
body{
    background-color: $background;
    font-family: $fontfamily;
}
.behind-social{
    z-index: -1;
}
.top-row{
    background-color: white;
    z-index: 1;
    display: block;
    i {
        padding-left: 10px;
        padding-right:10px;
        padding-top: 10px;
        color: $socialiconcolor;
        transition: $transition;
            &:hover{
                color:$socialiconhovercolor;
                transition: $transition;
        }
    }
}
.brand-name{
    display: block;
    margin: auto;
    letter-spacing: 7px;
    font-weight: 800;
    font-family: $fontfamily;
    h1 {
        font-size: 4em;
    }
}
#sticky {
    border-radius: 0.5ex;
    #sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
}

nav{
    display: block;
    clear: both;
    margin: auto;
    ul{
        li{
            list-style: none;
            display: inline;
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
            color: $socialiconcolor;
            transition: $transition;
            &:hover{
                color:$socialiconhovercolor;
                transition: $transition;
            }
        }
    }
}
.productwrapper{
    padding:20px;
    .product-img{
    height:auto;
    }
    .product-price{
        font-size:40px;
    }
    .atb {
        clear:both;
        display: block;
    }
}
.footer{
    display:block;
    height:250px;
    width:100%;
    background-color: aqua;
}